.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.payment-card {
  background: white;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #28a745;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: white;
}
